@charset "utf-8";

.box {
  width: 100px;
  height: 100px;
  background-color: #7293ff;
  border: 3px solid #243ed1;
  transition: 0.5s;
}
.bgtr1:hover {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.bgtr2:hover {
  background-color: #19ac21;
  border-color: #0c7214;
  border-radius: 30% 10% 35% 20%;
}
.bgtr3:hover {
  transform: rotate(20deg) skew(10deg) translate(10px, 10px);
}
